.password-card-container{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.initials-div{
    background-color: black;
    padding: 13px 20px;
    border-radius: 40px;
    font-size: 20px;
    align-content: center;
}

.password-pattern{
    width: 100px;
}
.password-details{
    margin: 0 5px;
    font-size: 15px;
}

.delete-btn{
    background-color: #5763a5;
    border:0;
}

.delete-icon{
    width: 20px;
}