.password-setup{
    display: flex;
    background-color: #5763a5;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 7px #c3caea;
    padding: 10px;
    
}

.password-manager{
    max-width: 35%;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.password-form{
    background-color: #454f84;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px 0;
    height: 300px;
    color: white;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 40%;
}
.password-input[type=text],.password-input[type=password] {
    height: 20px;
    border: 1px solid #c3caea;
    border-radius: 2px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.password-input::placeholder {
    font-size: 15px;
}

.password-input[type=text],.password-input[type=password]:focus {
    outline: none;
}
.password-search-img{
    padding: 10px 15px;
    border: 1px solid #c3caea;
    width: 24px;
    margin: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.password-search-bar{
    display: flex;
}

.add-btn{
    margin: 0 0 0 auto;
    float: right;
    background-color: #0b69ff;
    border: 0;
    font-size: 16px;
    height: 30px;
    width: 100px;
    color:white;
    border-radius: 3px;
}

@media screen and (max-width: 1080px) {
    .password-setup{
        flex-direction: column;
    }
    .password-manager{
        max-width: 70%;
    }
    .password-form{
        width: 80%;
    }
}